.archive-row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -.5rem;

}

.archive-listing {
  flex-basis: 100%;
  padding: 0 .5rem;

  @media (min-width: 30em) {
    flex-basis: 50%;
  }

  @media (min-width: 48em) {
    flex-basis: 33.333333333333333%;
  }

  @media (min-width: $max-width) {
    flex-basis: 25%;
  }
}
