/* Hero */
@import "hero";

.front-recent-posts, .front-recent-listings {
  @extend .container;
}

.front-recent-listings .wp-listings-shortcode {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -.5rem;

  .listing-wrap {
    flex-basis: 100%;
    padding: 0 .5rem;

    @media (min-width: 30em) {
      flex-basis: 50%;
    }

    @media (min-width: $max-width) {
      flex-basis: 25%;
    }
  }
}
.front-read-more {
  -webkit-border-radius: 3;
  -moz-border-radius: 3;
  border-radius: 3px;
  text-shadow: 1px 1px 3px #666666;
  color: #ffffff;

  background: #53c331;
  background-image: linear-gradient(to bottom, #53c331, #48a62b);
  padding: .625rem 1.25rem;
  text-decoration: none;

  &:hover {
    background: #53c331;
    text-decoration: none;
  }
}
