.hero {
  padding-top: 3em;
  padding-bottom: 3em;
  background: 50% 50% / cover;
  color: white;
  position: relative;
  text-shadow: 0 0 20px black;
  font-size: 1.2em;

  @media (min-width: 28em) {
    text-align: center;
  }

  @media (min-width: 40em) {
    font-size: 1.4em;
  }

  @media (min-width: 60em) {
    font-size: 1.6em;
  }
}

.hero-title, .hero-caption, .hero-links {
  max-width: $max-width;
  margin: 0 auto;
  padding: 0 1rem;
}

.hero-title {
  margin-bottom: 1rem;
  font-size: 2em;
}

.hero-caption {
  font-size: .9em;
  margin-bottom: 2rem;
}

.hero-links {
  display: flex;
  flex-wrap: wrap;

  @media (min-width: 28em) {
    justify-content: center;
  }
}

.hero-button {
  text-shadow: none;
  text-decoration: none;
  color: white;
  padding: .5rem 1rem;
  margin: 0 .75rem .75rem 0;
  border: 1px solid white;
  border-radius: 3px;
  box-shadow: 0 0 10px black;
  font-size: .8em;

  &:hover {
    background-color: white;
    color: black;
  }
}
