@import "wp-listings-single";

@media (min-width: 40em) {
  .listing-row {
    display: flex;
    justify-content: space-between;
  }

  .listing-left, .listing-right {
    width: 49%;
  }

  .wplistings-single-listing .ui-tabs .ui-tabs-nav li.ui-tabs-active {
    margin-top: 0;
  }

}
